* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-dark-blue: #0d141b;
    --bg-second-blue: #1d2d44;
    --accent-blue: #3e5c76;
    --accent-blue-ligth: #748cab;
    --content-ligth: #f5f6f8;
    --bg-ligth: #fafafa;
    --bg-section-ligth: #f6f6f6;
    --shadow-purple: #42219c;
}

@font-face {
    font-family: WorkSans;
    src: url(src/fonts/WorkSans-Medium.ttf);
}

body {
    background-color: var(--bg-ligth);
    color: var(--content-ligth);

    font-family: WorkSans;

    /* Typescale */
    h1 {
        font-size: 5.6125rem;
    }

    h2 {
        font-size: 4.2062rem;
    }

    h3 {
        font-size: 3.1563rem;
    }

    h4 {
        font-size: 2.3687rem;
    }

    h5 {
        font-size: 1.775rem;
    }

    h6 {
        font-size: 1.3313rem;
    }

    p {
        font-size: 1rem;
    }

    small {
        font-size: 0.75rem;
    }

    small-ligth {
        font-size: 0.5625rem;
    }

    header {
        /* nav-container */
        .navbar {
            display: flex;
            justify-content: space-between;
            padding: 0.25rem;
            background-color: var(--bg-dark-blue);

            .nav-left {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                p {
                    color: var(--content-ligth);
                }

                img {
                    width: 6rem;
                    height: 3rem;
                    padding: 0.5rem;
                    border-radius: 0.85rem;
                }
            }

            .nav-right {
                display: flex;
                align-items: center;
                gap: 2.5rem;
                padding-right: 0.5rem;

                a {
                    position: relative;
                    text-decoration: none;
                }

                a::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -0.6rem;
                    width: 0;
                    height: 0.125rem;
                    background-color: var(--content-ligth);
                    transition: width 0.8s ease-in-out;
                }

                a:hover::after {
                    width: 100%;
                }
            }
        }
    }

    main {
        .hero-section {
            background-image: url(src/pictures/bibliothek-wallpaper-dark.webp);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: scroll;
            height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .hero-content-container {
                .hero-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 0.25em;
                    color: var(--content-ligth);
                    text-shadow: 3px 2px 2px var(--bg-second-blue);
                }
                .cta-start-button {
                    padding-top: 2em;

                    a {
                        background-color: var(--bg-ligth);
                        padding: 1em 2.5em;
                        border-radius: 1em;
                        text-decoration: none;
                        color: var(--bg-second-blue);
                        font-size: 0.625rem;
                        font-weight: 600;
                        box-shadow: inset 2px 2px 14px 4px var(--bg-second-blue);
                        transition: all 0.4s ease;
                        &:hover {
                            box-shadow: inset 2px 2px 14px 8px
                                var(--bg-second-blue);
                            font-size: 0.97em;
                        }
                    }
                }
            }
        }
        /* content selbes styling für text abschnitte */
        .content-einleitung {
            color: var(--bg-dark-blue);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 2rem;
            margin-top: 4rem;

            p {
                max-width: 65vw;
                line-height: 2rem;
            }
        }

        /* bento-box als grid container
         */

        .bento-box-main-container,
        .bg-container {
            background-color: var(--bg-section-ligth);

            margin-top: 4rem;
            padding: 1rem;
        }

        /* einzelne boxen */

        .bento-grid-container {
            display: grid;
            grid-template-columns: auto-fill;
            gap: 1rem;
            background-color: var(--bg-dark-blue);
            padding: 1rem;
            border-radius: 1rem;
            grid-template-rows: repeat(2, 10rem);
            grid-template-areas:
                "header1  header2 header3 header4 header5 header6 header7 header8"
                "main1 main7 . main2 main3 main4 main5 main6 ";

            /* allgemeines styling für alle grid-boxen */
            .grid-boxes-style {
                border-radius: 1rem;
                overflow: hidden;
                box-shadow: 4px 4px 6px 0px var(--shadow-purple);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                transition: 0.4s ease;

                &:hover {
                    transform: scale(0.8);
                    box-shadow: inset 2px 2px 14px 8px var(--shadow-purple);
                }
                a {
                    padding: 10rem;
                }
            }

            /* grid-areas-boxen */
            .fonts-area {
                grid-area: header1;
                background-image: url(src/pictures/Bento-box/Fonts-main160x160.png);
            }
            .Lernplattformen-area {
                grid-area: header2;

                background-image: url(src/pictures/Bento-box/turorials.png);
            }
            .colors-area {
                grid-area: header3;
                grid-row: span 2;
                background-image: url(src/pictures/Bento-box/Colors-main.png);
            }
            .pictures-area {
                grid-area: header4;
                background-image: url(src/pictures/Bento-box/Pictures-main160x160.png);
            }
            .platforms-area {
                grid-area: header5;
                grid-column: 5/7;
                background-image: url(src/pictures/Bento-box/platforms240x160.png);
            }
            .tools-area {
                grid-area: main1;

                background-image: url(src/pictures/Bento-box/tools160x160.png);
            }
            .generators-area {
                grid-area: main2;
                background-image: url(src/pictures/Bento-box/generators.png);
            }
            .animatios-area {
                grid-area: main3;
                background-image: url(src/pictures/Bento-box/animations.png);
            }
            .lerning-area {
                grid-area: main4;
                background-image: url(src/pictures/Bento-box/learning160x160.png);
            }
            .frames-area {
                grid-area: header7;
                grid-column: 7/9;
                background-image: url(src/pictures/Bento-box/frameworks240x160.png);
            }
            .docs-area {
                grid-area: main5;
                background-image: url(src/pictures/Bento-box/docs160x160.png);
            }
            .icons-area {
                grid-area: main6;
                background-image: url(src/pictures/Bento-box/icons160x160.png);
            }
            .wikki-area {
                grid-area: main7;
                background-image: url(src/pictures/Bento-box/icons160x160.png);
            }
        }
        @media (max-width: 768px) {
            .bento-grid-container {
                overflow: hidden;
                .grid-boxes-style {
                    overflow: hidden;
                    transition: 0.4s ease;

                    &:hover {
                        transform: scale(1.2);
                        box-shadow: inset 2px 2px 14px 8px var(--shadow-purple);
                    }
                }
            }
        }
    }

    /* das Courswikki in Cards und slidebar  */
    /* container teilweise wie bento-box-main-container  */
    .courswikki-container {
        padding: 1rem;
        text-align: start;
        h6 {
            color: var(--bg-dark-blue);
        }
        /* container für alle cards  */
        .cards-main-container {
            display: flex;
            justify-content: space-between;
            gap: 1.5rem;

            .card-list-container-wikki {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;

                padding: 1rem;
                background-color: var(--bg-second-blue);
                min-width: 9rem;
                min-height: 10rem;
                border-radius: 1rem;
                margin-top: 1rem;
                cursor: pointer;
                box-shadow: 4px 4px 6px 0px var(--shadow-purple);
                transition: 400ms ease;

                &:hover {
                    transform: scale(1.1);
                    box-shadow: inset 0px 0px 6px 4px var(--shadow-purple);
                }

                a {
                    text-decoration: none;
                    color: var(--content-ligth);
                }
                ul {
                    padding-top: 1rem;
                    padding-left: 1em;
                    li {
                        font-size: 0.75rem;
                        padding-bottom: 0.5em;
                    }
                }
            }
        }
    }

    /* tutorials section */

    .tutorials-main-conatainer {
        h6 {
            color: var(--bg-second-blue);
        }
        /* swiper container styling */
        .tutorials-swiper-conatainer {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            background-color: var(--bg-section-ligth);

            .swiper {
                .slider-wrapper {
                    overflow: hidden;
                    max-width: 75rem;
                    margin: 0px 70px 55px;

                    padding: 0.5rem;

                    /* styling für die punkte */
                    .swiper-pagination-bullet {
                        background-color: var(--shadow-purple);
                        height: 0.8125rem;
                        width: 0.8125rem;
                        opacity: 0.5;
                    }

                    /* styling für die punkte */
                    .swiper-pagination-bullet-active {
                        opacity: 1;
                    }
                    .swiper-slider-button {
                        color: var(--shadow-purple);
                        margin-top: -3.125rem;
                        transition: 0.4s ease;

                        &:hover {
                            transform: scale(1.2);
                            color: #4c18db;
                        }
                    }
                    .swiper-wrapper {
                        padding: 1rem 0;
                        /* die car wo das Video drinnen ist */
                        .card-item {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            border-radius: 2rem;
                            padding: 0.5rem;

                            background-color: var(--bg-dark-blue);
                            /* backdrop-filter: blur (30px); ist für background image gut*/
                            user-select: none;
                            box-shadow: 4px 4px 6px 0px var(--shadow-purple);
                            transition: 0.4s ease;
                            &:hover {
                                box-shadow: inset 0px 0px 6px 4px #4c18db;
                            }
                            /* styling und eigenschaften für das video an sich */
                            .tutorial-video {
                                border-radius: 1.5rem;
                                margin-bottom: 1rem;
                            }

                            .tutorial-info {
                                color: var(--bg-second-blue);
                                font-size: 1rem;
                                color: var(--content-ligth);
                                font-weight: 600;
                                padding-bottom: 0.5rem;
                            }

                            .tutorial-button {
                                padding: 0.5rem 1rem;
                                text-decoration: none;
                                font-size: 0.75rem;
                                font-weight: 900;
                                margin-bottom: 0.5rem;
                                border-radius: 1em;

                                color: var(--bg-second-blue);

                                box-shadow: inset 2px 2px 14px 4px
                                    var(--bg-second-blue);
                                transition: 0.4s ease;
                                &:hover {
                                    box-shadow: inset 2px 2px 14px 8px #42219c;
                                    color: #42219c;
                                }
                            }
                        }
                    }
                }
            }
            @media (max-width: 768px) {
                .slider-wrapper {
                    margin: 0 0.625rem 2.5rem;

                    .swiper-slider-button {
                        display: none;
                    }
                }
            }
        }
    }

    /* bibliothek links */
    .link-section-main-container {
        .fonts-links {
            padding: 1rem;
            .list-container-libary {
                color: var(--bg-second-blue);
                list-style: none;
                display: flex;
                gap: 1rem;
                .link-libary {
                    .img.libary {
                    }
                }
            }
        }
    }
}
